flows/flows_ColdChain.json
[
    {
        "id": "104f0d8f41211e5a",
        "type": "tab",
        "label": "Fluxo 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "1dd58bbbb054ba85",
        "type": "tab",
        "label": "Fluxo 2",
        "disabled": true,
        "info": "",
        "env": []
    },
    {
        "id": "tab_gargalo",
        "type": "tab",
        "label": "Alerta de Gargalo",
        "disabled": false,
        "info": "Monitora IDs lidos na Câmara Fria e dispara alerta se não aparecerem na Expedição após X horas. Fluxo ADICIONAL — não interfere nos fluxos existentes."
    },
    {
        "id": "57b23ef35d371ade",
        "type": "tab",
        "label": "Fluxo 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "1cd1d2bc344f2f98",
        "type": "mqtt-broker",
        "name": "Receber ",
        "broker": "broker.hivemq.com",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "dcae44334a61fedf",
        "type": "mqtt-broker",
        "name": "RECEBER RFID",
        "broker": "",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "9cfffd45b9a04fa4",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.hivemq.com",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "4da8ab47bf75c41a",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "",
        "verifyservercert": true,
        "alpnprotocol": ""
    },
    {
        "id": "d1e0fc34df68846e",
        "type": "mqtt-broker",
        "name": "",
        "broker": "9ace28d159244a72b5cbf0a08e02c7d7.s1.eu.hivemq.cloud",
        "port": "8883",
        "tls": "4da8ab47bf75c41a",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "19ea8823271fd1dd",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "dda7d933c63fd778",
        "type": "ui_tab",
        "name": "PROTOTIPO",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "a0ee02fcb04d5ae0",
        "type": "ui_group",
        "name": "DASHBOARD",
        "tab": "dda7d933c63fd778",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": true,
        "className": ""
    },
    {
        "id": "c28be209b3215e0c",
        "type": "mongodb",
        "hostname": "127.0.0.1",
        "topology": "direct",
        "connectOptions": "",
        "port": 27017,
        "db": "PROTOTIPO",
        "name": "LEITURAS"
    },
    {
        "id": "bf8ddec52ccd6185",
        "type": "mongodb",
        "hostname": "127.0.0.1",
        "topology": "dnscluster",
        "connectOptions": "mongodb+srv://node_red_user:<db_password>@cluster0.uy9xt9w.mongodb.net/?appName=Cluster0",
        "port": 27017,
        "db": "ColdChainDB",
        "name": ""
    },
    {
        "id": "b167538c474bea6a",
        "type": "mongodb",
        "hostname": "127.0.0.1",
        "topology": "direct",
        "connectOptions": "mongodb+srv://node_red_user:wyldss03@cluster0.uy9xt9w.mongodb.net/?appName=Cluster0",
        "port": 27017,
        "db": "PROTOTIPO",
        "name": "LEITURAS"
    },
    {
        "id": "2104be92048ee758",
        "type": "mongodb",
        "hostname": "127.0.0.1",
        "topology": "direct",
        "connectOptions": "mongodb://",
        "port": 27017,
        "db": "ColdChainDB",
        "name": "ColdChainDB"
    },
    {
        "id": "8d5b2a0e49f295de",
        "type": "ui-base",
        "name": "My Dashboard",
        "path": "/dashboard",
        "appIcon": "",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "headerContent": "page",
        "navigationStyle": "default",
        "titleBarStyle": "default",
        "showReconnectNotification": true,
        "notificationDisplayTime": 1,
        "showDisconnectNotification": true,
        "allowInstall": false
    },
    {
        "id": "3e519d1ab5efd8d4",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094CE",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "d0eddc6c03edb334",
        "type": "ui-page",
        "name": "Page 1",
        "ui": "8d5b2a0e49f295de",
        "path": "/page1",
        "icon": "home",
        "layout": "grid",
        "theme": "3e519d1ab5efd8d4",
        "breakpoints": [
            {
                "name": "Default",
                "px": 0,
                "cols": 3
            },
            {
                "name": "Tablet",
                "px": 576,
                "cols": 6
            },
            {
                "name": "Small Desktop",
                "px": 768,
                "cols": 9
            },
            {
                "name": "Desktop",
                "px": 1024,
                "cols": 12
            }
        ],
        "order": 1,
        "className": "",
        "visible": true,
        "disabled": false
    },
    {
        "id": "3942f97976526024",
        "type": "ui-group",
        "name": "Group 1",
        "page": "d0eddc6c03edb334",
        "width": 6,
        "height": 1,
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "db06436616787fed",
        "type": "auto_layout_config",
        "name": "AutoLayout",
        "algorithm": "dagre_lr",
        "settings": "{\"dagre_lr\":{\"rankdir\":\"LR\",\"marginx\":20,\"marginy\":20,\"nodesep\":30,\"ranksep\":50},\"dagre_longest_path\":{\"rankdir\":\"LR\",\"marginx\":2,\"marginy\":2,\"ranker\":\"longest-path\",\"nodesep\":2,\"ranksep\":2},\"elkjs_mr_tree\":{\"algorithm\":\"mrtree\",\"childAreaHeight\":4500,\"childAreaWidth\":4500,\"org.eclipse.elk.direction\":\"RIGHT\"},\"elkjs_layered_upwards\":{\"algorithm\":\"org.eclipse.elk.layered\",\"elk.direction\":\"UP\",\"cycleBreaking.strategy\":\"INTERACTIVE\",\"layering.strategy\":\"INTERACTIVE\",\"crossingMinimization.semiInteractive\":true,\"separateConnectedComponents\":true,\"nodePlacement.strategy\":\"NETWORK_SIMPLEX\",\"spacing.nodeNode\":70,\"spacing.nodeNodeBetweenLayers\":25,\"spacing.edgeNode\":25,\"spacing.edgeNodeBetweenLayers\":20,\"spacing.edgeEdge\":20,\"spacing.edgeEdgeBetweenLayers\":15,\"elk.hierarchyHandling\":\"INCLUDE_CHILDREN\",\"elk.layered.spacing.edgeNodeBetweenLayers\":40,\"elk.layered.nodePlacement.bk.fixedAlignment\":\"BALANCED\",\"layering.layerConstraint\":\"FIRST\"},\"elkjs_layered_downwards\":{\"algorithm\":\"org.eclipse.elk.layered\",\"elk.direction\":\"DOWN\",\"cycleBreaking.strategy\":\"INTERACTIVE\",\"layering.strategy\":\"INTERACTIVE\",\"crossingMinimization.semiInteractive\":true,\"separateConnectedComponents\":true,\"nodePlacement.strategy\":\"NETWORK_SIMPLEX\",\"spacing.nodeNode\":70,\"spacing.nodeNodeBetweenLayers\":25,\"spacing.edgeNode\":25,\"spacing.edgeNodeBetweenLayers\":20,\"spacing.edgeEdge\":20,\"spacing.edgeEdgeBetweenLayers\":15},\"elkjs_box\":{\"algorithm\":\"org.eclipse.elk.box\",\"childAreaHeight\":3000,\"childAreaWidth\":3000},\"pull_request_2267\":{}}"
    },
    {
        "id": "ce1c9172a69c4189",
        "type": "ui_spacer",
        "z": "57b23ef35d371ade",
        "name": "spacer",
        "group": "a0ee02fcb04d5ae0",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "75d9dca7b4fa0190",
        "type": "ui-button",
        "z": "1dd58bbbb054ba85",
        "group": "3942f97976526024",
        "name": "",
        "label": "button",
        "order": 5,
        "width": 0,
        "height": 0,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 110,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "mqtt_camara_entrada",
        "type": "mqtt in",
        "z": "tab_gargalo",
        "name": "MQTT | Câmara Fria",
        "topic": "coldchain/camara-fria",
        "qos": "1",
        "datatype": "json",
        "broker": "9cfffd45b9a04fa4",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 100,
        "wires": [
            [
                "fn_registrar_camara"
            ]
        ]
    },
    {
        "id": "mqtt_expedicao_entrada",
        "type": "mqtt in",
        "z": "tab_gargalo",
        "name": "MQTT | Expedição",
        "topic": "coldchain/expedicao",
        "qos": "1",
        "datatype": "json",
        "broker": "9cfffd45b9a04fa4",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 200,
        "wires": [
            [
                "fn_confirmar_expedicao"
            ]
        ]
    },
    {
        "id": "fn_registrar_camara",
        "type": "function",
        "z": "tab_gargalo",
        "name": "Registrar entrada na Câmara Fria",
        "func": "// -------------------------------------------------------\n// ALERTA DE GARGALO — Passo 1: Registrar leitura na Câmara Fria\n// Salva no contexto global o timestamp de cada tag lida.\n// Não altera nenhum fluxo existente.\n// -------------------------------------------------------\n\nvar tagId   = msg.payload.tagId   || msg.payload.id || msg.payload.tag_id;\nvar TIMEOUT_HORAS = flow.get('GARGALO_TIMEOUT_HORAS') || 2;\n\nif (!tagId) {\n    node.warn('Payload sem tagId recebido no tópico câmara-fria: ' + JSON.stringify(msg.payload));\n    return null;\n}\n\nvar registro = {\n    tagId:        tagId,\n    ts_camara:    Date.now(),\n    expedido:     false,\n    alerta_ativo: false,\n    timeout_ms:   TIMEOUT_HORAS * 3600 * 1000\n};\n\n// Armazena no contexto global indexado pelo tagId\nvar pendentes = global.get('gargalo_pendentes') || {};\npendentes[tagId] = registro;\nglobal.set('gargalo_pendentes', pendentes);\n\nnode.log('Gargalo | Câmara Fria registrada: ' + tagId);\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "fn_confirmar_expedicao",
        "type": "function",
        "z": "tab_gargalo",
        "name": "Confirmar chegada na Expedição",
        "func": "// -------------------------------------------------------\n// ALERTA DE GARGALO — Passo 2: Confirmar expedição da tag\n// Marca a tag como expedida para o verificador não gerar alerta.\n// Não altera nenhum fluxo existente.\n// -------------------------------------------------------\n\nvar tagId = msg.payload.tagId || msg.payload.id || msg.payload.tag_id;\n\nif (!tagId) {\n    node.warn('Payload sem tagId recebido no tópico expedição: ' + JSON.stringify(msg.payload));\n    return null;\n}\n\nvar pendentes = global.get('gargalo_pendentes') || {};\n\nif (pendentes[tagId]) {\n    pendentes[tagId].expedido     = true;\n    pendentes[tagId].alerta_ativo = false;\n    pendentes[tagId].ts_expedicao = Date.now();\n    global.set('gargalo_pendentes', pendentes);\n    node.log('Gargalo | Expedição confirmada, alerta cancelado: ' + tagId);\n} else {\n    node.warn('Gargalo | Tag expedida sem registro prévio na Câmara Fria: ' + tagId);\n}\n\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "inject_verificador",
        "type": "inject",
        "z": "tab_gargalo",
        "name": "Verificador periódico (a cada 10 min)",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "120",
        "crontab": "",
        "once": true,
        "onceDelay": 10,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 340,
        "wires": [
            [
                "fn_verificar_gargalo"
            ]
        ]
    },
    {
        "id": "fn_verificar_gargalo",
        "type": "function",
        "z": "tab_gargalo",
        "name": "Verificar tags em gargalo",
        "func": "// -------------------------------------------------------\n// ALERTA DE GARGALO — Passo 3: Varrer pendentes e disparar alertas\n// Roda a cada 10 minutos (configurado no nó inject acima).\n// Não altera nenhum fluxo existente.\n// -------------------------------------------------------\n\nvar pendentes = global.get('gargalo_pendentes') || {};\nvar agora     = Date.now();\nvar alertas   = [];\n\nObject.keys(pendentes).forEach(function(tagId) {\n    var reg = pendentes[tagId];\n\n    // Ignorar tags já expedidas ou com alerta já em tela\n    if (reg.expedido) return;\n\n    var decorrido_ms = agora - reg.ts_camara;\n\n    if (decorrido_ms >= reg.timeout_ms) {\n        var horas_decorridas = (decorrido_ms / 3600000).toFixed(1);\n\n        alertas.push({\n            tagId:           tagId,\n            ts_camara:       new Date(reg.ts_camara).toLocaleString('pt-BR'),\n            horas_decorridas: horas_decorridas,\n            timeout_horas:   reg.timeout_ms / 3600000\n        });\n\n        // Marca como alerta ativo para evitar spam em cada ciclo\n        pendentes[tagId].alerta_ativo = true;\n    }\n});\n\nglobal.set('gargalo_pendentes', pendentes);\n\nif (alertas.length === 0) {\n    node.log('Gargalo | Verificação OK — nenhum gargalo detectado.');\n    return null;\n}\n\n// Envia cada alerta como mensagem separada\nvar msgs = alertas.map(function(a) {\n    return {\n        payload: a,\n        topic:   'coldchain/alerta/gargalo'\n    };\n});\n\nreturn [msgs];",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 340,
        "wires": [
            [
                "fn_formatar_alerta"
            ]
        ]
    },
    {
        "id": "fn_formatar_alerta",
        "type": "function",
        "z": "tab_gargalo",
        "name": "Formatar mensagem de alerta",
        "func": "// -------------------------------------------------------\n// ALERTA DE GARGALO — Formata o texto do alerta\n// Gera msg.payload para o Dashboard e msg.telegram para o bot.\n// -------------------------------------------------------\n\nvar a = msg.payload;\n\nvar texto = '⚠️ ALERTA DE GARGALO\\n'\n          + 'Tag ID : ' + a.tagId + '\\n'\n          + 'Câmara : ' + a.ts_camara + '\\n'\n          + 'Aguardando expedição há ' + a.horas_decorridas + 'h'\n          + ' (limite: ' + a.timeout_horas + 'h)\\n'\n          + 'Verifique se o lote foi esquecido na câmara fria.';\n\nmsg.payload         = texto;\nmsg.telegram        = { text: texto };\nmsg.dashboard_class = 'alerta-gargalo';\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 340,
        "wires": [
            [
                "ui_notificacao",
                "mqtt_alerta_out",
                "fn_log_gargalo",
                "5e0b9b97f1024214"
            ]
        ]
    },
    {
        "id": "ui_notificacao",
        "type": "ui-notification",
        "z": "tab_gargalo",
        "ui": "8d5b2a0e49f295de",
        "position": "top right",
        "colorDefault": true,
        "color": "#ff0000",
        "displayTime": "0",
        "showCountdown": false,
        "outputs": 0,
        "allowDismiss": true,
        "dismissText": "OK",
        "allowConfirm": false,
        "confirmText": "",
        "raw": false,
        "className": "",
        "name": "Dashboard | Notificação de Gargalo",
        "x": 960,
        "y": 240,
        "wires": []
    },
    {
        "id": "mqtt_alerta_out",
        "type": "mqtt out",
        "z": "tab_gargalo",
        "name": "MQTT | Publicar Alerta",
        "topic": "coldchain/alerta/gargalo",
        "qos": "1",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9cfffd45b9a04fa4",
        "x": 920,
        "y": 340,
        "wires": []
    },
    {
        "id": "fn_log_gargalo",
        "type": "function",
        "z": "tab_gargalo",
        "name": "Formatar linha de log CSV",
        "func": "// -------------------------------------------------------\n// ALERTA DE GARGALO — Formata linha para o nó de log existente\n// Reutiliza o nó 'Logs' (07c341ffdb8cc7fa) já configurado.\n// -------------------------------------------------------\n\nvar a = msg.payload;\nvar agora = new Date().toISOString();\n\nmsg.payload = agora + ',GARGALO,' + a.split('Tag ID : ')[1].split('\\n')[0] + ',ALERTA_GARGALO\\n';\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 890,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "inject_set_timeout",
        "type": "inject",
        "z": "tab_gargalo",
        "name": "⚙️ Config: Timeout = 2 horas (edite aqui)",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0,
        "topic": "config",
        "payload": "0.05",
        "payloadType": "num",
        "x": 210,
        "y": 460,
        "wires": [
            [
                "fn_set_timeout"
            ]
        ]
    },
    {
        "id": "fn_set_timeout",
        "type": "function",
        "z": "tab_gargalo",
        "name": "Salvar timeout no contexto do fluxo",
        "func": "// -------------------------------------------------------\n// CONFIGURAÇÃO DO TIMEOUT\n// Altere o valor 'payload' no nó inject acima para mudar\n// o número de horas antes do alerta disparar.\n// Padrão: 2 horas.\n// -------------------------------------------------------\n\nvar horas = Number(msg.payload);\nif (!horas || horas <= 0) horas = 2;\n\nflow.set('GARGALO_TIMEOUT_HORAS', horas);\nnode.log('Gargalo | Timeout configurado: ' + horas + 'h');\n\nreturn null;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "comment_instrucoes",
        "type": "comment",
        "z": "tab_gargalo",
        "name": "📋 INSTRUÇÕES DE CONFIGURAÇÃO",
        "info": "## Alerta de Gargalo — ColdChain-ID\n\n### O que este fluxo faz\nMonitora tags lidas na Câmara Fria e dispara alerta\nse a mesma tag **não aparecer na Expedição** dentro do\ntempo limite configurado.\n\n### Passos obrigatórios após importar\n\n1. **Broker MQTT**: Nos três nós MQTT (entrada Câmara,\n   entrada Expedição e saída Alerta), abra cada um e\n   selecione o mesmo broker já configurado nos seus\n   fluxos existentes.\n\n2. **Tópicos**: Confirme se os tópicos\n   `coldchain/camara-fria` e `coldchain/expedicao`\n   correspondem exatamente ao que o ESP32 publica.\n   Ajuste se necessário.\n\n3. **Timeout**: O nó inject **⚙️ Config** executa uma\n   vez no deploy e define 2 horas como padrão.\n   Edite o campo `payload` nesse nó para mudar.\n\n4. **Dashboard**: O nó `ui-notification` exige que\n   você selecione o grupo de UI correto na aba\n   Dashboard do Node-RED (crie um grupo novo ou\n   reutilize um existente).\n\n5. **Log**: O nó `fn_log_gargalo` já aponta para o\n   nó `Logs` (id: 07c341ffdb8cc7fa) do seu fluxo\n   original — não precisa de ajuste.\n\n### Campo `tagId` no payload\nO código tenta ler `msg.payload.tagId`, depois\n`msg.payload.id` e depois `msg.payload.tag_id`.\nSe o seu ESP32 usa outro nome, ajuste a linha\n`var tagId = ...` nos dois primeiros nós function.",
        "x": 200,
        "y": 560,
        "wires": []
    },
    {
        "id": "5e0b9b97f1024214",
        "type": "e-mail",
        "z": "tab_gargalo",
        "server": "smtp.gmail.com",
        "port": "465",
        "authtype": "BASIC",
        "saslformat": true,
        "token": "oauth2Response.access_token",
        "secure": true,
        "tls": true,
        "name": "",
        "dname": "ColdChain",
        "x": 830,
        "y": 160,
        "wires": []
    },
    {
        "id": "b81e0c071534f8d4",
        "type": "mqtt in",
        "z": "57b23ef35d371ade",
        "name": "RECEBER RFID",
        "topic": "coldchain/rfid",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "d1e0fc34df68846e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 360,
        "y": 60,
        "wires": [
            [
                "9a5bf5be4576bd6b"
            ]
        ]
    },
    {
        "id": "9a5bf5be4576bd6b",
        "type": "function",
        "z": "57b23ef35d371ade",
        "name": "Descriptografar AES",
        "func": "\nconst chave = Buffer.from('minhasenha123456', 'utf8');\nconst iv    = Buffer.from('1234567890123456', 'utf8');\n\ntry {\n    const dadosCriptografados = Buffer.from(msg.payload.toString().trim(), 'base64');\n\n    const decipher = crypto.createDecipheriv('aes-128-cbc', chave, iv);\n    decipher.setAutoPadding(true);\n\n    let jsonString = decipher.update(dadosCriptografados, null, 'utf8');\n    jsonString += decipher.final('utf8');\n\n    if (!jsonString || jsonString.length === 0) {\n        node.error('Descriptografia falhou: resultado vazio.');\n        return null;\n    }\n\n    node.warn('Descriptografado com sucesso: ' + jsonString);\n    msg.payload = jsonString;\n    return msg;\n\n} catch(e) {\n    node.error('Erro AES: ' + e.message);\n    return null;\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "crypto",
                "module": "crypto"
            }
        ],
        "x": 360,
        "y": 120,
        "wires": [
            [
                "e2e712f748994f6b",
                "79e8ca63a93686e4"
            ]
        ]
    },
    {
        "id": "e2e712f748994f6b",
        "type": "json",
        "z": "57b23ef35d371ade",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": true,
        "x": 330,
        "y": 180,
        "wires": [
            [
                "f3c2c3cec80bf99b",
                "71afd6b9a5df9424",
                "f29f77cf874a18d9",
                "623dd0d49c2e1d54"
            ]
        ]
    },
    {
        "id": "f3c2c3cec80bf99b",
        "type": "debug",
        "z": "57b23ef35d371ade",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 530,
        "y": 260,
        "wires": []
    },
    {
        "id": "71afd6b9a5df9424",
        "type": "function",
        "z": "57b23ef35d371ade",
        "name": "function 1",
        "func": "// 1. Recupera a lista ou cria uma nova\nvar listaTags = context.get('listaTags') || [];\n\n// 2. Organiza o objeto exatamente com as chaves que a tabela vai ler\n// Note que usamos nomes simples sem espaços para evitar erros\nvar novaLeitura = {\n    \"id\": msg.payload.id,\n    \"setor\": msg.payload.setor,\n    \"horario\": msg.payload.data_hora\n};\n\n// 3. Adiciona no topo\nlistaTags.unshift(novaLeitura);\n\n// 4. Limita a 10 itens\nif (listaTags.length > 10) {\n    listaTags.pop();\n}\n\n// 5. Salva no contexto\ncontext.set('listaTags', listaTags);\n\n// 6. Envia para a tabela\nmsg.payload = listaTags;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "f29f77cf874a18d9",
        "type": "mongodb out",
        "z": "57b23ef35d371ade",
        "mongodb": "c28be209b3215e0c",
        "name": "BANCO DE DADOS",
        "collection": "LEITURAS",
        "payonly": false,
        "upsert": false,
        "multi": false,
        "operation": "insert",
        "x": 500,
        "y": 380,
        "wires": []
    },
    {
        "id": "15f8455a9b9fad81",
        "type": "mongodb in",
        "z": "57b23ef35d371ade",
        "mongodb": "c28be209b3215e0c",
        "name": "",
        "collection": "LEITURAS",
        "operation": "find",
        "x": 920,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "623dd0d49c2e1d54",
        "type": "switch",
        "z": "57b23ef35d371ade",
        "name": "",
        "property": "payload.setor",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nempty"
            },
            {
                "t": "nempty"
            },
            {
                "t": "nempty"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 510,
        "y": 180,
        "wires": [
            [
                "40aa4ebb533bac4d"
            ],
            [
                "57f708cfb195cb47"
            ],
            [
                "99f38296b677bde6"
            ]
        ]
    },
    {
        "id": "40aa4ebb533bac4d",
        "type": "function",
        "z": "57b23ef35d371ade",
        "name": "function 2",
        "func": "// Prepara a busca para o MongoDB encontrar a entrada na Produção\nmsg.payload = {\n    \"id\": msg.payload.id,\n    \"setor\": \"Produção\"\n};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 120,
        "wires": [
            [
                "15f8455a9b9fad81"
            ]
        ]
    },
    {
        "id": "57f708cfb195cb47",
        "type": "function",
        "z": "57b23ef35d371ade",
        "name": "function 3",
        "func": "let tabela = context.get('tabela') || [];\nlet storage = context.get('storage') || {};\n\nlet dados = Array.isArray(msg.payload) ? msg.payload[0] : msg.payload;\n\nif (!dados || !dados.data_hora || !dados.id || !dados.setor) return null;\n\nconst id = dados.id;\nconst setorAtual = dados.setor;\nconst dataString = String(dados.data_hora).replace(\" \", \"T\");\nconst timestampAtual = new Date(dataString).getTime();\n\nif (isNaN(timestampAtual)) {\n    node.error(\"Falha ao processar data: \" + dados.data_hora);\n    return null;\n}\n\nif (!storage[id]) {\n    // Primeira leitura desta tag\n    storage[id] = { setor: setorAtual, timestamp: timestampAtual };\n    tabela.unshift({\n        \"ID\": id,\n        \"Setor Atual\": setorAtual,\n        \"Tempo (s)\": 0,\n        \"Tempo (min)\": 0\n    });\n} else {\n    const anterior = storage[id];\n    const diffMs = Math.abs(timestampAtual - anterior.timestamp);\n    const diffSeg = Math.floor(diffMs / 1000);\n    const diffMin = parseFloat((diffMs / 60000).toFixed(2));\n\n    // Encontra linha existente na tabela\n    let idx = tabela.findIndex(row => row[\"ID\"] === id);\n\n    if (idx !== -1) {\n        tabela[idx][\"Setor Atual\"] = setorAtual;\n        tabela[idx][\"Tempo (s)\"] = diffSeg;\n        tabela[idx][\"Tempo (min)\"] = diffMin;\n    } else {\n        tabela.unshift({\n            \"ID\": id,\n            \"Setor Atual\": setorAtual,\n            \"Tempo (s)\": diffSeg,\n            \"Tempo (min)\": diffMin\n        });\n    }\n\n    // CRÍTICO: sempre atualiza o timestamp, independente de mudar setor ou não\n    storage[id] = { setor: setorAtual, timestamp: timestampAtual };\n}\n\nif (tabela.length > 20) tabela = tabela.slice(0, 20);\n\ncontext.set('tabela', tabela);\ncontext.set('storage', storage);\n\nmsg.payload = tabela;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "context.set('storage', {});",
        "finalize": "",
        "libs": [],
        "x": 900,
        "y": 200,
        "wires": [
            [
                "c291d80458d176fb",
                "cca86ec493ebabe2"
            ]
        ]
    },
    {
        "id": "99f38296b677bde6",
        "type": "function",
        "z": "57b23ef35d371ade",
        "name": "function 4",
        "func": "let mapaSetores = context.get('mapaSetores') || {};\nlet dados = msg.payload;\n\nmapaSetores[dados.id] = dados.setor;\ncontext.set('mapaSetores', mapaSetores);\n\nlet contagem = { \"Produção\": 0, \"Câmara Fria\": 0, \"Expedição\": 0 };\n\nObject.values(mapaSetores).forEach(s => {\n    if (contagem.hasOwnProperty(s)) contagem[s]++;\n});\n\n// Envia mensagens separadas para o gráfico de barras\nnode.send({ topic: \"Produção\", payload: contagem[\"Produção\"] });\nnode.send({ topic: \"Câmara Fria\", payload: contagem[\"Câmara Fria\"] });\nnode.send({ topic: \"Expedição\", payload: contagem[\"Expedição\"] });\n\nreturn null;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "context.set('mapaSetores', {});",
        "finalize": "",
        "libs": [],
        "x": 880,
        "y": 280,
        "wires": [
            [
                "d392f7b3cbf002d5",
                "07f61947208128af"
            ]
        ]
    },
    {
        "id": "c291d80458d176fb",
        "type": "debug",
        "z": "57b23ef35d371ade",
        "name": "debug 2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1120,
        "y": 240,
        "wires": []
    },
    {
        "id": "d392f7b3cbf002d5",
        "type": "debug",
        "z": "57b23ef35d371ade",
        "name": "debug 3",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1120,
        "y": 360,
        "wires": []
    },
    {
        "id": "039688faf6d3adcb",
        "type": "ui-text",
        "z": "57b23ef35d371ade",
        "group": "3942f97976526024",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "MongoDB:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 750,
        "y": 640,
        "wires": []
    },
    {
        "id": "cef8a3f1fded0ded",
        "type": "catch",
        "z": "57b23ef35d371ade",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 320,
        "y": 620,
        "wires": [
            [
                "4c7449e82496ee38"
            ]
        ]
    },
    {
        "id": "85be4c5efd77d0ce",
        "type": "status",
        "z": "57b23ef35d371ade",
        "name": "",
        "scope": null,
        "x": 310,
        "y": 660,
        "wires": [
            [
                "7393ae18abf49aad"
            ]
        ]
    },
    {
        "id": "4c7449e82496ee38",
        "type": "function",
        "z": "57b23ef35d371ade",
        "name": "function A",
        "func": "const erro = msg.error || {};\nmsg.payload = \"🔴 ERRO: \" + (erro.message || \"Falha desconhecida\");\nmsg.topic = \"mongo_status\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 620,
        "wires": [
            [
                "039688faf6d3adcb"
            ]
        ]
    },
    {
        "id": "7393ae18abf49aad",
        "type": "function",
        "z": "57b23ef35d371ade",
        "name": "function B",
        "func": "const fill = msg.status.fill;\nconst texto = (msg.status.text || \"\").toLowerCase();\n\nif (fill === \"red\" || texto.includes(\"disconnect\")) {\n    msg.payload = \"🔴 DESCONECTADO\";\n} else if (fill === \"yellow\") {\n    msg.payload = \"🟡 Reconectando...\";\n} else if (fill === \"green\") {\n    msg.payload = \"🟢 Conectado\";\n} else {\n    return null;\n}\n\nmsg.topic = \"mongo_status\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 660,
        "wires": [
            [
                "039688faf6d3adcb"
            ]
        ]
    },
    {
        "id": "07f61947208128af",
        "type": "ui-chart",
        "z": "57b23ef35d371ade",
        "group": "3942f97976526024",
        "name": "",
        "label": "Leituras por Setor",
        "order": 7,
        "chartType": "bar",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "",
        "xAxisProperty": "payload",
        "xAxisPropertyType": "msg",
        "xAxisType": "category",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "",
        "yAxisProperty": "payload",
        "yAxisPropertyType": "msg",
        "ymin": "",
        "ymax": "",
        "bins": 10,
        "action": "append",
        "stackSeries": false,
        "pointShape": "circle",
        "pointRadius": 4,
        "showLegend": true,
        "removeOlder": 1,
        "removeOlderUnit": "3600",
        "removeOlderPoints": "",
        "colors": [
            "#0095ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": 6,
        "height": 8,
        "className": "",
        "interpolation": "linear",
        "x": 1150,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "cca86ec493ebabe2",
        "type": "ui-table",
        "z": "57b23ef35d371ade",
        "group": "3942f97976526024",
        "name": "",
        "label": "Leituras RFID",
        "order": 1,
        "width": 0,
        "height": 0,
        "maxrows": "10",
        "passthru": false,
        "autocols": true,
        "showSearch": true,
        "deselect": true,
        "selectionType": "none",
        "columns": [],
        "mobileBreakpoint": "md",
        "mobileBreakpointType": "defaults",
        "action": "replace",
        "className": "",
        "x": 1140,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "875254d75481c0d6",
        "type": "inject",
        "z": "57b23ef35d371ade",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[{\"ID\":\"3eb96a06\",\"De\":\"Produção\",\"Para\":\"Câmara Fria\",\"Segundos\":62,\"Minutos\":1.03}]",
        "payloadType": "json",
        "x": 1150,
        "y": 120,
        "wires": [
            [
                "cca86ec493ebabe2"
            ]
        ]
    },
    {
        "id": "cdc8dbb5c96921e5",
        "type": "mqtt in",
        "z": "57b23ef35d371ade",
        "name": "RECEBER ALERTAS",
        "topic": "coldchain/alerta",
        "qos": "1",
        "datatype": "utf8",
        "broker": "d1e0fc34df68846e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 200,
        "y": 780,
        "wires": [
            [
                "ed1740d0ad26de88"
            ]
        ]
    },
    {
        "id": "ed1740d0ad26de88",
        "type": "json",
        "z": "57b23ef35d371ade",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 390,
        "y": 780,
        "wires": [
            [
                "64804d7d200b896f",
                "a891b63f27a30395",
                "e09aeab71d5afa1c"
            ]
        ]
    },
    {
        "id": "64804d7d200b896f",
        "type": "function",
        "z": "57b23ef35d371ade",
        "name": "Formatar Alerta",
        "func": "// Formata o alerta recebido do ESP32 para exibir no dashboard\nvar d = msg.payload;\nvar texto = \"⚠ ALERTA [\" + d.data_hora + \"]\\n\";\ntexto += \"TAG: \" + d.id + \"\\n\";\ntexto += \"Tentou entrar em: \" + d.setor_atual + \"\\n\";\ntexto += \"Último setor registrado: \" + d.ultimo_setor;\nmsg.payload = texto;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 780,
        "wires": [
            [
                "06c40cfc8e7b3584",
                "45968f906e6ae1ad"
            ]
        ]
    },
    {
        "id": "06c40cfc8e7b3584",
        "type": "ui-notification",
        "z": "57b23ef35d371ade",
        "ui": "8d5b2a0e49f295de",
        "position": "top right",
        "colorDefault": false,
        "color": "#FF0000",
        "displayTime": "10",
        "showCountdown": true,
        "outputs": 0,
        "allowDismiss": true,
        "dismissText": "Fechar",
        "raw": false,
        "className": "",
        "name": "Notificação de Alerta",
        "x": 820,
        "y": 740,
        "wires": []
    },
    {
        "id": "45968f906e6ae1ad",
        "type": "ui-text",
        "z": "57b23ef35d371ade",
        "group": "3942f97976526024",
        "order": 10,
        "width": 6,
        "height": 3,
        "name": "Último Alerta",
        "label": "⚠ Último Alerta de Sequência",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "style": true,
        "font": "",
        "fontSize": 14,
        "color": "#cc0000",
        "wrapText": true,
        "className": "",
        "x": 820,
        "y": 820,
        "wires": []
    },
    {
        "id": "a891b63f27a30395",
        "type": "mongodb out",
        "z": "57b23ef35d371ade",
        "mongodb": "c28be209b3215e0c",
        "name": "Salvar Alerta no BD",
        "collection": "ALERTAS",
        "payonly": false,
        "upsert": false,
        "multi": false,
        "operation": "insert",
        "x": 580,
        "y": 860,
        "wires": []
    },
    {
        "id": "e09aeab71d5afa1c",
        "type": "debug",
        "z": "57b23ef35d371ade",
        "name": "debug alerta",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 390,
        "y": 860,
        "wires": []
    },
    {
        "id": "79e8ca63a93686e4",
        "type": "file",
        "z": "57b23ef35d371ade",
        "name": "LOGS",
        "filename": "C:\\Users\\DTI\\Documentos\\json\\logs.cvs",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 530,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "db7cf4b413931f8f",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-dashboard": "3.6.6",
            "node-red-node-mongodb": "0.2.5",
            "@flowfuse/node-red-dashboard": "1.30.2",
            "@bartbutenaers/node-red-autolayout-sidebar": "0.0.4",
            "node-red-node-email": "5.2.2"
        }
    }
]