flows/flows.json
[
    {
        "id": "104f0d8f41211e5a",
        "type": "tab",
        "label": "Fluxo 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b76725b2126b6a64",
        "type": "tab",
        "label": "Fluxo 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "1dd58bbbb054ba85",
        "type": "tab",
        "label": "Fluxo 2",
        "disabled": true,
        "info": "",
        "env": []
    },
    {
        "id": "1cd1d2bc344f2f98",
        "type": "mqtt-broker",
        "name": "Receber ",
        "broker": "broker.hivemq.com",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "dcae44334a61fedf",
        "type": "mqtt-broker",
        "name": "RECEBER RFID",
        "broker": "",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "9cfffd45b9a04fa4",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.hivemq.com",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "4da8ab47bf75c41a",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "",
        "verifyservercert": true,
        "alpnprotocol": ""
    },
    {
        "id": "d1e0fc34df68846e",
        "type": "mqtt-broker",
        "name": "",
        "broker": "9ace28d159244a72b5cbf0a08e02c7d7.s1.eu.hivemq.cloud",
        "port": "8883",
        "tls": "4da8ab47bf75c41a",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "19ea8823271fd1dd",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "dda7d933c63fd778",
        "type": "ui_tab",
        "name": "PROTOTIPO",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "a0ee02fcb04d5ae0",
        "type": "ui_group",
        "name": "DASHBOARD",
        "tab": "dda7d933c63fd778",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": true,
        "className": ""
    },
    {
        "id": "c84b140979432180",
        "type": "ui_spacer",
        "z": "b76725b2126b6a64",
        "name": "spacer",
        "group": "a0ee02fcb04d5ae0",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "c28be209b3215e0c",
        "type": "mongodb",
        "hostname": "127.0.0.1",
        "topology": "direct",
        "connectOptions": "",
        "port": 27017,
        "db": "PROTOTIPO",
        "name": "LEITURAS"
    },
    {
        "id": "bf8ddec52ccd6185",
        "type": "mongodb",
        "hostname": "127.0.0.1",
        "topology": "dnscluster",
        "connectOptions": "mongodb+srv://node_red_user:<db_password>@cluster0.uy9xt9w.mongodb.net/?appName=Cluster0",
        "port": 27017,
        "db": "ColdChainDB",
        "name": ""
    },
    {
        "id": "b167538c474bea6a",
        "type": "mongodb",
        "hostname": "127.0.0.1",
        "topology": "direct",
        "connectOptions": "mongodb+srv://node_red_user:wyldss03@cluster0.uy9xt9w.mongodb.net/?appName=Cluster0",
        "port": 27017,
        "db": "PROTOTIPO",
        "name": "LEITURAS"
    },
    {
        "id": "2104be92048ee758",
        "type": "mongodb",
        "hostname": "127.0.0.1",
        "topology": "direct",
        "connectOptions": "mongodb://",
        "port": 27017,
        "db": "ColdChainDB",
        "name": "ColdChainDB"
    },
    {
        "id": "8d5b2a0e49f295de",
        "type": "ui-base",
        "name": "My Dashboard",
        "path": "/dashboard",
        "appIcon": "",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "headerContent": "page",
        "navigationStyle": "default",
        "titleBarStyle": "default",
        "showReconnectNotification": true,
        "notificationDisplayTime": 1,
        "showDisconnectNotification": true,
        "allowInstall": false
    },
    {
        "id": "3e519d1ab5efd8d4",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094CE",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "d0eddc6c03edb334",
        "type": "ui-page",
        "name": "Page 1",
        "ui": "8d5b2a0e49f295de",
        "path": "/page1",
        "icon": "home",
        "layout": "grid",
        "theme": "3e519d1ab5efd8d4",
        "breakpoints": [
            {
                "name": "Default",
                "px": 0,
                "cols": 3
            },
            {
                "name": "Tablet",
                "px": 576,
                "cols": 6
            },
            {
                "name": "Small Desktop",
                "px": 768,
                "cols": 9
            },
            {
                "name": "Desktop",
                "px": 1024,
                "cols": 12
            }
        ],
        "order": 1,
        "className": "",
        "visible": true,
        "disabled": false
    },
    {
        "id": "3942f97976526024",
        "type": "ui-group",
        "name": "Group 1",
        "page": "d0eddc6c03edb334",
        "width": 6,
        "height": 1,
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "db06436616787fed",
        "type": "auto_layout_config",
        "name": "AutoLayout",
        "algorithm": "dagre_lr",
        "settings": "{\"dagre_lr\":{\"rankdir\":\"LR\",\"marginx\":20,\"marginy\":20,\"nodesep\":30,\"ranksep\":50},\"dagre_longest_path\":{\"rankdir\":\"LR\",\"marginx\":2,\"marginy\":2,\"ranker\":\"longest-path\",\"nodesep\":2,\"ranksep\":2},\"elkjs_mr_tree\":{\"algorithm\":\"mrtree\",\"childAreaHeight\":4500,\"childAreaWidth\":4500,\"org.eclipse.elk.direction\":\"RIGHT\"},\"elkjs_layered_upwards\":{\"algorithm\":\"org.eclipse.elk.layered\",\"elk.direction\":\"UP\",\"cycleBreaking.strategy\":\"INTERACTIVE\",\"layering.strategy\":\"INTERACTIVE\",\"crossingMinimization.semiInteractive\":true,\"separateConnectedComponents\":true,\"nodePlacement.strategy\":\"NETWORK_SIMPLEX\",\"spacing.nodeNode\":70,\"spacing.nodeNodeBetweenLayers\":25,\"spacing.edgeNode\":25,\"spacing.edgeNodeBetweenLayers\":20,\"spacing.edgeEdge\":20,\"spacing.edgeEdgeBetweenLayers\":15,\"elk.hierarchyHandling\":\"INCLUDE_CHILDREN\",\"elk.layered.spacing.edgeNodeBetweenLayers\":40,\"elk.layered.nodePlacement.bk.fixedAlignment\":\"BALANCED\",\"layering.layerConstraint\":\"FIRST\"},\"elkjs_layered_downwards\":{\"algorithm\":\"org.eclipse.elk.layered\",\"elk.direction\":\"DOWN\",\"cycleBreaking.strategy\":\"INTERACTIVE\",\"layering.strategy\":\"INTERACTIVE\",\"crossingMinimization.semiInteractive\":true,\"separateConnectedComponents\":true,\"nodePlacement.strategy\":\"NETWORK_SIMPLEX\",\"spacing.nodeNode\":70,\"spacing.nodeNodeBetweenLayers\":25,\"spacing.edgeNode\":25,\"spacing.edgeNodeBetweenLayers\":20,\"spacing.edgeEdge\":20,\"spacing.edgeEdgeBetweenLayers\":15},\"elkjs_box\":{\"algorithm\":\"org.eclipse.elk.box\",\"childAreaHeight\":3000,\"childAreaWidth\":3000},\"pull_request_2267\":{}}"
    },
    {
        "id": "223cd935ad46f76b",
        "type": "mqtt in",
        "z": "b76725b2126b6a64",
        "name": "RECEBER RFID",
        "topic": "coldchain/rfid",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "d1e0fc34df68846e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 360,
        "y": 60,
        "wires": [
            [
                "fbb623903ce6e783"
            ]
        ]
    },
    {
        "id": "fbb623903ce6e783",
        "type": "json",
        "z": "b76725b2126b6a64",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": true,
        "x": 330,
        "y": 180,
        "wires": [
            [
                "c2e7ac664caae2ac",
                "8e995fcf4267db26",
                "1324c8805c483349",
                "e982721364d4b13b"
            ]
        ]
    },
    {
        "id": "c2e7ac664caae2ac",
        "type": "debug",
        "z": "b76725b2126b6a64",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 530,
        "y": 260,
        "wires": []
    },
    {
        "id": "8e995fcf4267db26",
        "type": "function",
        "z": "b76725b2126b6a64",
        "name": "function 1",
        "func": "// 1. Recupera a lista ou cria uma nova\nvar listaTags = context.get('listaTags') || [];\n\n// 2. Organiza o objeto exatamente com as chaves que a tabela vai ler\n// Note que usamos nomes simples sem espaços para evitar erros\nvar novaLeitura = {\n    \"id\": msg.payload.id,\n    \"setor\": msg.payload.setor,\n    \"horario\": msg.payload.data_hora\n};\n\n// 3. Adiciona no topo\nlistaTags.unshift(novaLeitura);\n\n// 4. Limita a 10 itens\nif (listaTags.length > 10) {\n    listaTags.pop();\n}\n\n// 5. Salva no contexto\ncontext.set('listaTags', listaTags);\n\n// 6. Envia para a tabela\nmsg.payload = listaTags;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "1324c8805c483349",
        "type": "mongodb out",
        "z": "b76725b2126b6a64",
        "mongodb": "c28be209b3215e0c",
        "name": "BANCO DE DADOS",
        "collection": "LEITURAS",
        "payonly": false,
        "upsert": false,
        "multi": false,
        "operation": "insert",
        "x": 500,
        "y": 380,
        "wires": []
    },
    {
        "id": "2d1c97b7cdfe86dc",
        "type": "ui_table",
        "z": "b76725b2126b6a64",
        "group": "a0ee02fcb04d5ae0",
        "name": "",
        "order": 0,
        "width": "0",
        "height": "0",
        "columns": [
            {
                "field": "id",
                "title": "IDENTIFICADOR",
                "width": "",
                "align": "center",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "setor_origem",
                "title": "SETOR",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "setor_destino",
                "title": "Setor Destino",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "duracao_ms",
                "title": "Duração",
                "width": "",
                "align": "center",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "duracao_segundos",
                "title": "Segundos",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "duracao_minutos",
                "title": "minutos",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            }
        ],
        "outputs": 0,
        "cts": false,
        "x": 1450,
        "y": 60,
        "wires": []
    },
    {
        "id": "f60cf79e076c7122",
        "type": "mongodb in",
        "z": "b76725b2126b6a64",
        "mongodb": "c28be209b3215e0c",
        "name": "",
        "collection": "LEITURAS",
        "operation": "find",
        "x": 920,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "e982721364d4b13b",
        "type": "switch",
        "z": "b76725b2126b6a64",
        "name": "",
        "property": "payload.setor",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Expedição",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 510,
        "y": 180,
        "wires": [
            [
                "ba7aef0cb233c1b0",
                "88c409ccf2acb541",
                "8d742e5ee327178a"
            ]
        ]
    },
    {
        "id": "ba7aef0cb233c1b0",
        "type": "function",
        "z": "b76725b2126b6a64",
        "name": "function 2",
        "func": "// Prepara a busca para o MongoDB encontrar a entrada na Produção\nmsg.payload = {\n    \"id\": msg.payload.id,\n    \"setor\": \"Produção\"\n};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 120,
        "wires": [
            [
                "f60cf79e076c7122"
            ]
        ]
    },
    {
        "id": "88c409ccf2acb541",
        "type": "function",
        "z": "b76725b2126b6a64",
        "name": "function 3",
        "func": "// Envia tabela salva ao iniciar (se existir)\nlet tabelaInicial = context.get('tabela') || [];\nif (tabelaInicial.length > 0) {\n    node.send({ payload: tabelaInicial });\n}\n\n// Recupera o storage do contexto do nó\nlet storage = context.get('storage') || {};\n\n// Suporte a array (vindo do MongoDB) ou objeto simples (vindo direto do MQTT)\nlet dados = Array.isArray(msg.payload) ? msg.payload[0] : msg.payload;\n\n// Proteção\nif (!dados || !dados.data_hora || !dados.id || !dados.setor) {\n    return null;\n}\n\nconst id = dados.id;\nconst setorAtual = dados.setor;\nconst dataString = String(dados.data_hora).replace(\" \", \"T\");\nconst timestampAtual = new Date(dataString).getTime();\n\nif (isNaN(timestampAtual)) {\n    node.error(\"Falha ao processar data: \" + dados.data_hora);\n    return null;\n}\n\nif (!storage[id]) {\n    // Primeira leitura dessa tag — armazena e aguarda a próxima\n    storage[id] = { setor: setorAtual, timestamp: timestampAtual };\n    context.set('storage', storage);\n    return null;\n}\n\nconst registroAnterior = storage[id];\n\nif (registroAnterior.setor === setorAtual) {\n    // Mesma tag no mesmo setor — apenas atualiza o timestamp\n    storage[id].timestamp = timestampAtual;\n    context.set('storage', storage);\n    return null;\n}\n\n// Tag mudou de setor — calcula o tempo de permanência\nconst diffMs = Math.abs(timestampAtual - registroAnterior.timestamp);\nconst diffSegundos = Math.floor(diffMs / 1000);\nconst diffMinutos = (diffMs / (1000 * 60)).toFixed(2);\n\n// Recupera histórico da tabela\nlet tabela = context.get('tabela') || [];\n\n// Adiciona nova linha no topo\ntabela.unshift({\n    \"ID\": id,\n    \"De\": registroAnterior.setor,\n    \"Para\": setorAtual,\n    \"Segundos\": diffSegundos,\n    \"Minutos\": parseFloat(diffMinutos)\n});\n\n// Mantém apenas as últimas 20 linhas\nif (tabela.length > 20) tabela = tabela.slice(0, 20);\n\ncontext.set('tabela', tabela);\n\nmsg.payload = tabela;\n\n// Atualiza o storage com o setor atual\nstorage[id] = { setor: setorAtual, timestamp: timestampAtual };\ncontext.set('storage', storage);\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "context.set('storage', {});",
        "finalize": "",
        "libs": [],
        "x": 900,
        "y": 200,
        "wires": [
            [
                "f24b41776a5553b8",
                "d2588f12db4accfb"
            ]
        ]
    },
    {
        "id": "8d742e5ee327178a",
        "type": "function",
        "z": "b76725b2126b6a64",
        "name": "function 4",
        "func": "// 1. Recupera o mapa de setores da memória (contexto)\nlet mapaSetores = context.get('mapaSetores') || {};\n\n// 2. Extrai os dados que vieram do HiveMQ\nconst id = msg.payload.id;\nconst setorAtual = msg.payload.setor;\n\n// 3. Atualiza a posição do ID no mapa (se houver dados válidos)\nif (id && setorAtual) {\n    mapaSetores[id] = setorAtual;\n}\n\n// 4. Salva o mapa atualizado de volta no contexto\ncontext.set('mapaSetores', mapaSetores);\n\n// 5. Inicializa os contadores\nlet contagem = {\n    \"Produção\": 0,\n    \"Câmara Fria\": 0,\n    \"Expedição\": 0\n};\n\n// 6. Conta quantos itens existem em cada setor\nObject.values(mapaSetores).forEach(setor => {\n    if (contagem.hasOwnProperty(setor)) {\n        contagem[setor]++;\n    }\n});\n\n// 7. Novo formato para o Dashboard 2.0 (chart)\nmsg.payload = [\n    { x: \"Produção\", y: contagem[\"Produção\"] },\n    { x: \"Câmara Fria\", y: contagem[\"Câmara Fria\"] },\n    { x: \"Expedição\", y: contagem[\"Expedição\"] }\n];\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "context.set('mapaSetores', {});",
        "finalize": "",
        "libs": [],
        "x": 880,
        "y": 280,
        "wires": [
            [
                "b55495dba0e1645d",
                "0e07e17e559f0d91"
            ]
        ]
    },
    {
        "id": "d6a7a457f72f132c",
        "type": "ui_chart",
        "z": "b76725b2126b6a64",
        "name": "Gráfico",
        "group": "a0ee02fcb04d5ae0",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "bar",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1460,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "f24b41776a5553b8",
        "type": "debug",
        "z": "b76725b2126b6a64",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1120,
        "y": 240,
        "wires": []
    },
    {
        "id": "b55495dba0e1645d",
        "type": "debug",
        "z": "b76725b2126b6a64",
        "name": "debug 3",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1120,
        "y": 360,
        "wires": []
    },
    {
        "id": "8b5783f704719459",
        "type": "ui-text",
        "z": "b76725b2126b6a64",
        "group": "3942f97976526024",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "MongoDB:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 750,
        "y": 640,
        "wires": []
    },
    {
        "id": "d97dad798d2d9d70",
        "type": "catch",
        "z": "b76725b2126b6a64",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 320,
        "y": 620,
        "wires": [
            [
                "34606827978c5480"
            ]
        ]
    },
    {
        "id": "a2bbdf4f426941e4",
        "type": "status",
        "z": "b76725b2126b6a64",
        "name": "",
        "scope": null,
        "x": 310,
        "y": 660,
        "wires": [
            [
                "d206f52bb10fea4a"
            ]
        ]
    },
    {
        "id": "34606827978c5480",
        "type": "function",
        "z": "b76725b2126b6a64",
        "name": "function A",
        "func": "const erro = msg.error || {};\nmsg.payload = \"🔴 ERRO: \" + (erro.message || \"Falha desconhecida\");\nmsg.topic = \"mongo_status\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 620,
        "wires": [
            [
                "8b5783f704719459"
            ]
        ]
    },
    {
        "id": "d206f52bb10fea4a",
        "type": "function",
        "z": "b76725b2126b6a64",
        "name": "function B",
        "func": "const fill = msg.status.fill;\nconst texto = (msg.status.text || \"\").toLowerCase();\n\nif (fill === \"red\" || texto.includes(\"disconnect\")) {\n    msg.payload = \"🔴 DESCONECTADO\";\n} else if (fill === \"yellow\") {\n    msg.payload = \"🟡 Reconectando...\";\n} else if (fill === \"green\") {\n    msg.payload = \"🟢 Conectado\";\n} else {\n    return null;\n}\n\nmsg.topic = \"mongo_status\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 660,
        "wires": [
            [
                "8b5783f704719459"
            ]
        ]
    },
    {
        "id": "0e07e17e559f0d91",
        "type": "ui-chart",
        "z": "b76725b2126b6a64",
        "group": "3942f97976526024",
        "name": "",
        "label": "Leituras por Setor",
        "order": 4,
        "chartType": "bar",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "",
        "xAxisProperty": "playload",
        "xAxisPropertyType": "msg",
        "xAxisType": "category",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "",
        "yAxisProperty": "payload",
        "yAxisPropertyType": "msg",
        "ymin": "",
        "ymax": "",
        "bins": 10,
        "action": "replace",
        "stackSeries": false,
        "pointShape": "circle",
        "pointRadius": 4,
        "showLegend": true,
        "removeOlder": 1,
        "removeOlderUnit": "3600",
        "removeOlderPoints": "",
        "colors": [
            "#0095ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": 6,
        "height": 8,
        "className": "",
        "interpolation": "linear",
        "x": 1150,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "d2588f12db4accfb",
        "type": "ui-table",
        "z": "b76725b2126b6a64",
        "group": "3942f97976526024",
        "name": "",
        "label": "Leituras RFID",
        "order": 1,
        "width": 0,
        "height": 0,
        "maxrows": "10",
        "passthru": false,
        "autocols": true,
        "showSearch": true,
        "deselect": true,
        "selectionType": "none",
        "columns": [],
        "mobileBreakpoint": "md",
        "mobileBreakpointType": "defaults",
        "action": "replace",
        "className": "",
        "x": 1140,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "531b00a6d7a5cdf5",
        "type": "inject",
        "z": "b76725b2126b6a64",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[{\"ID\":\"3eb96a06\",\"De\":\"Produção\",\"Para\":\"Câmara Fria\",\"Segundos\":62,\"Minutos\":1.03}]",
        "payloadType": "json",
        "x": 1150,
        "y": 120,
        "wires": [
            [
                "d2588f12db4accfb"
            ]
        ]
    },
    {
        "id": "75d9dca7b4fa0190",
        "type": "ui-button",
        "z": "1dd58bbbb054ba85",
        "group": "3942f97976526024",
        "name": "",
        "label": "button",
        "order": 2,
        "width": 0,
        "height": 0,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 110,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "70bd43d291434a5f",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-dashboard": "3.6.6",
            "node-red-node-mongodb": "0.2.5",
            "@flowfuse/node-red-dashboard": "1.30.2",
            "@bartbutenaers/node-red-autolayout-sidebar": "0.0.4",
            "node-red-node-ui-table": "0.4.5"
        }
    }
]
